// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-content {
  margin-top: 50px;
}

.btn-container {
  margin-top: 20px;
}

.index-progress {
  height: 40px;
  margin-bottom: 20px;
}
